body
{
	padding-left: 0.5em;
	font-size: 80%;
}

h1
{
	font-size: 130%;
	text-align: left;
	margin: 0%;
}

h2
{
	text-align: left;
}

/* ----------------------------------------------
    START: Syntax Highlight CSS */

pre
{
	border: 0.1em solid #666;
	padding: 2em;
	margin: 2em;
	background-color: #eee;
	white-space: pre-wrap;
}

code.hl,pre.hl
{
	font-size: 100%;
	padding: 0.7em 0%;
}

.hl .el
{
	color: #808;
}

.hl .at
{
	color: #088;
}

.hl .va
{
	color: #aa0;
}

.hl .imp
{
	font-weight: bold;
}

.hl .co
{
	color: #888;
	background-color: #f5f5f5;
}

.hl .co .el
{
	color: #e9e;
}

.hl .co .at
{
	color: #6cc;
}

.hl .co .va
{
	color: #dd5;
}

.hl .cd
{
	color: #5dd;
}

.hl .cdc
{
	color: #55d;
}

/* END: Syntax Highlight CSS
  ---------------------------------------------- */


form
{
	display: block;
	clear: both;
	z-index: 1;
	padding: 0.5em 0% 1em 0%;
}

form label
{
	margin: 1em 0% 0% 0%;
	position: relative;
	display: block;
	font-weight: bold;
}

form div label > span,
form label.cb > span
{
	margin: 0% 1.5em 0% 1.5em;
	display: none;
	font-weight: normal;
	padding: 0.5em 1em;
	border: 0.1em solid #000;
	-webkit-box-shadow: 0.4em 0.6em 1em rgba( 0 , 0 , 0 , 0.7 );
	 -khtml-box-shadow: 0.4em 0.6em 1em rgba( 0 , 0 , 0 , 0.7 );
	   -moz-box-shadow: 0.4em 0.6em 1em rgba( 0 , 0 , 0 , 0.7 );
	    -ms-box-shadow: 0.4em 0.6em 1em rgba( 0 , 0 , 0 , 0.7 );
	     -o-box-shadow: 0.4em 0.6em 1em rgba( 0 , 0 , 0 , 0.7 );
		box-shadow: 0.4em 0.6em 1em rgba( 0 , 0 , 0 , 0.7 );
	background-color: rgba( 0 , 50 , 0 , 0.9 );
	color: #fff;
	position: absolute;
	right: 0.2em;
	bottom: 2.1em;
	left: 0.2em;
	text-indent: 0% !important;
}

form div:hover > label > span
{
	display: block;
}

label.cb
{
	margin-top: 0%;
	font-weight: normal;
	position: relative;
}

label.cb input[type='text']
{
	width: 20em;
}
textarea, input[type="text"] {
	padding: 0.3em 0.5em;
}

label.cb:hover span
{
	display: block;
}

input[type='submit']
{
	clear: both;
}

#advanced
{
	border: none;
	padding: 0%;
	border-radius: 1em;
	position: relative;
	margin-right: 1em;
}

#advanced:hover
{
	border: 0.1em solid #000;
	padding: 1em;
	-webkit-box-shadow: 0.4em 0.6em 0.4em rgba( 0 , 0 , 0, 0.6 );
	 -khtml-box-shadow: 0.4em 0.6em 0.4em rgba( 0 , 0 , 0, 0.6 );
	   -moz-box-shadow: 0.4em 0.6em 0.4em rgba( 0 , 0 , 0, 0.6 );
	    -ms-box-shadow: 0.4em 0.6em 0.4em rgba( 0 , 0 , 0, 0.6 );
	     -o-box-shadow: 0.4em 0.6em 0.4em rgba( 0 , 0 , 0, 0.6 );
		box-shadow: 0.4em 0.6em 0.4em rgba( 0 , 0 , 0, 0.6 );
	margin-bottom: 2em;
}

#advanced:hover nav > ul
{
	display: block;
	text-align: left;
}

#advanced:hover nav > ul li
{
	padding: 0% 1.5em 0% 0%;
}

#advanced legend
{
	font-weight: bold;
	font-size: 110%;
	padding: 0% 1.5em;
	cursor: pointer;
}

#advanced:hover legend
{
	padding: 0% 0.5em;
}

#advanced label , #advanced h2 , #advanced table , #advanced section , #advanced ul
{
	display: none;
}

#advanced:hover label , #advanced:hover h2 , #advanced:hover table , #advanced:hover section , #advanced:hover ul
{
	display: block;
}

#advanced table td , #advanced table th
{
	text-align: center;
	font-size: 90%;
}

#advanced table td input[type='text']
{
	text-align: left;
	font-size: 100%;
}

#advanced table tbody tr:hover
{
	background-color: #ddd;
}

#special
{
	position: relative;
}

.info
{
	position: relative;
}

.info ul
{
	padding: 0%;
	margin: 1em 0% 0.5em 0%;
	float: left;
	width: 99%;
}

.info ul li
{
	float: left;
	width: 4em;
	list-style-type: none;
	padding: 0% 0% 0.2em 0%;
	margin: 0% 1.8em;
	text-align: center;
}

.info ul li + li
{
	margin: 0%;
}

.info ul li > div
{
	display: none;
	float: none;
	position: absolute;
	top: 2.5em;
	right: 0%;
	left: 0%;
	background-color: rgba( 200 , 255 , 200 , 0.95 );
	padding: 0.5em 0.5em 1em 0.5em;
	z-index: 1000;
	margin: 0% 1em;
	text-align: left;
	-webkit-box-shadow: 0.2em 0.3em 0.3em rgba( 0 , 0 , 0 , 0.8 );
	 -khtml-box-shadow: 0.2em 0.3em 0.3em rgba( 0 , 0 , 0 , 0.8 );
	   -moz-box-shadow: 0.2em 0.3em 0.3em rgba( 0 , 0 , 0 , 0.8 );
	    -ms-box-shadow: 0.2em 0.3em 0.3em rgba( 0 , 0 , 0 , 0.8 );
	     -o-box-shadow: 0.2em 0.3em 0.3em rgba( 0 , 0 , 0 , 0.8 );
		box-shadow: 0.2em 0.3em 0.3em rgba( 0 , 0 , 0 , 0.8 );
	font-size: 90%;
}

.info ul li:hover
{
	background-color: rgba( 200 , 255 , 200 , 0.95 );
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	border-bottom: none;
	-webkit-box-shadow: 0.2em 0.3em 0.3em rgba( 0 , 0 , 0, 0.8 );
	 -khtml-box-shadow: 0.2em 0.3em 0.3em rgba( 0 , 0 , 0, 0.8 );
	   -moz-box-shadow: 0.2em 0.3em 0.3em rgba( 0 , 0 , 0, 0.8 );
	    -ms-box-shadow: 0.2em 0.3em 0.3em rgba( 0 , 0 , 0, 0.8 );
	     -o-box-shadow: 0.2em 0.3em 0.3em rgba( 0 , 0 , 0, 0.8 );
		box-shadow: 0.2em 0.3em 0.3em rgba( 0 , 0 , 0, 0.8 );
	cursor: pointer;
}

.info ul li:hover > div
{
	display: block;
}

.info ul li div ol
{
	padding: 0% 0% 0% 2em;
	margin: 0%;
	text-align: left;
}

.info ul li div ol li
{
	float: none;
	width: 100%;
	list-style-type: decimal;
	padding: 0% 0% 0.5em 0%;
	margin: 0%;
	text-align: left;
}


